@model IEnumerable<Atividade_1.Models.Convidado>

@{
    ViewData["Title"] = "Lista de Convidados";
}

<h1>Lista de Convidados</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comparecimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comparecimento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.Id,
                    nome=item.Nome,
                    email=item.Email,
                    comparecimento=item.Comparecimento
                })
            </td>
        </tr>
}
    </tbody>
</table>

<form action="@Url.Action("ListaConfirmados", "Convidados")">
    <button type="submit" class="btn btn-primary">Lista de Confirmados</button>
</form>

